.page {
  font-family: var(--font-family);
  font-weight: 700;
  color: var(--main-color);
  scroll-behavior: smooth;
  scroll-padding-top: var(--fixed-header-offset);
  scrollbar-gutter: stable;
}

.page__body {
  min-width: 375px;
  padding-top: var(--fixed-header-offset);
}

.page__body--no-scroll {
  overflow-y: hidden;
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}

:focus-visible {
  outline: 1px solid var(--main-color);
  outline-offset: 2px;
}

.commercial__registration:focus-visible,
.commercial__close:focus-visible {
  outline-color: #fff;
}

.button {
  font-weight: 500;
  font-size: 16px;
  border-radius: 62px;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition:
    -webkit-transform var(--transition-time),
    -webkit-box-shadow var(--transition-time);
  transition:
    -webkit-transform var(--transition-time),
    -webkit-box-shadow var(--transition-time);
  transition:
    transform var(--transition-time),
    box-shadow var(--transition-time);
  transition:
    transform var(--transition-time),
    box-shadow var(--transition-time),
    -webkit-transform var(--transition-time),
    -webkit-box-shadow var(--transition-time);
}

img {
  -o-object-fit: cover;
  object-fit: cover;
}

.text {
  font-weight: 400;
  color: var(--text-color);
}

@media (width > 576px) {
  .text {
    font-size: 16px;
  }
}

@media (width <= 576px) {
  .text {
    font-size: 14px;
  }
}

.title-medium {
  font-family: var(--second-family);
  font-weight: 900;
  text-align: center;
  line-height: 120%;
  color: var(--title-color);
}

@media (width > 768px) {
  .title-medium {
    font-size: 48px;
  }
}

@media (width <= 768px) {
  .title-medium {
    font-size: 30px;
  }
}

.title-small {
  font-weight: 700;
  color: var(--title-color);
}

@media (width > 768px) {
  .title-small {
    font-size: 20px;
  }
}

@media (width <= 768px) {
  .title-small {
    font-size: 16px;
  }
}

@media (width > 768px) {
  .cards__section-title {
    padding-bottom: 55px;
  }
}

@media (width <= 768px) {
  .cards__section-title {
    /* min-width: 576px; max-width: 768px; */
    font-size: clamp(30px, calc(-24px + 9.375vw), 48px);
    padding-bottom: 32px;
  }
}

@media (width > 768px) {
  .container-offset {
    padding-bottom: 80px;
  }
}

@media (width <= 768px) {
  .container-offset {
    padding-bottom: 50px;
  }
}
